<div class="row">
  <div class="col-6">
    <app-dona
      [title]="'Ventas'"
      [labelsFather]="labels1"
      [chartData]="data1"
    ></app-dona>
  </div>

  <div class="col-6">
    <app-dona
      [title]="'Ventas 2'"
      [labelsFather]="labels2"
      [chartData]="data2"
    ></app-dona>
  </div>

  <div class="col-6">
    <app-dona
      [title]="'Ventas 3'"
      [labelsFather]="labels3"
      [chartData]="data3"
    ></app-dona>
  </div>

  <div class="col-6">
    <app-dona
      [title]="'Ventas 4'"
      [labelsFather]="labels4"
      [chartData]="data4"
    ></app-dona>
  </div>
  
</div>
