<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Usuarios</h3>
        <div class="alert alert-info" *ngIf="usuarios.length === 0" >
          <p class="mb-0">No hay usuarios con ese término de búsqueda</p>
        </div>
        <div class="table-responsive" *ngIf="usuarios.length !== 0">
          <table class="table">
              <thead>
                  <tr>
                      <th>Avatar</th>
                      <th>nombre</th>
                  </tr>
              </thead>
              <tbody *ngFor="let usuario of usuarios">
                <th >
                  <img [ngStyle]="{'width': '75px'}" [src]="usuario.img! | imagen:'usuarios'" alt="no imagen">
                </th>
                <th>{{usuario.nombre}}</th>
              </tbody>
          </table>
      </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Médicos</h3>
        <div class="alert alert-info" *ngIf="medicos.length === 0" >
          <p class="mb-0">No hay médicos con ese término de búsqueda</p>
        </div>
        <div class="table-responsive" *ngIf="medicos.length !== 0">
          <table class="table">
              <thead>
                  <tr>
                      <th>Avatar</th>
                      <th>Nombre</th>
                  </tr>
              </thead>
                <tbody *ngFor="let medico of medicos">
                  <th >
                    <img
                    [ngStyle]="{'width': '75px'}"
                    [src]="medico.img! | imagen:'medicos'"
                    alt="no">
                  </th>
                  <th>
                    <a [routerLink]="['/dashboard/medico', medico._id]">{{medico.nombre}}</a>

                  </th>
                </tbody>
          </table>
      </div>
      </div>
    </div>
  </div>


  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Hospitales</h3>
        <div class="alert alert-info" *ngIf="medicos.length === 0">
          <p class="mb-0">No hay hospitales con ese término de búsqueda</p>
        </div>
        <div class="table-responsive" *ngIf="medicos.length !== 0">
          <table class="table">
              <thead>
                  <tr>
                      <th>Avatar</th>
                      <th>Nombre</th>
                  </tr>
              </thead>
              <tbody *ngFor="let hospital of hospitales">
                <th >
                  <img [ngStyle]="{'width': '75px'}" [src]="hospital.img! | imagen:'hospitales'" alt="no imagen">
                </th>
                <th>{{hospital.nombre}}</th>
              </tbody>
          </table>
      </div>
      </div>
    </div>
  </div>
</div>
